<footer>
    <div class="f-info">
       <div class="f-info-socials">
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-square-threads"></i>
       </div>
    <div class="wow">&copy; Insthire Private Limited</div>
    <div class="f-info-links">
      <a href=""> Privacy</a>
      <a href="">Terms</a>
    </div>
  </div>
</footer>
