<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insthire</title>
  </head>
  <body>
    <h1>All data of programmers</h1>
    <form method="GET" action="/first/new">
      <button>
        Add your profile
      </button>
    </form>
    <ul>
      <% for(let listing of allListings){ %>
      <li><a href="/first/<%= listing._id %>"><%=listing.name %></a></li>
      <% } %>
    </ul>
  </body>
</html>
