<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insthire</title>
</head>
<body>
     <h1>Enter Your developer Profile</h1>
    <form method="post" action="/first">
      <input name="listing[name]" placeholder="name" name" type="text"
      />
      <br /><br />
      <input name="listing[role]" placeholder="role"  type="text" />
      <br /><br />
      <input
        name="listing[description]"
        placeholder="description"
        type="text"
      />
      <br /><br />
      <input name="listing[image]" 
      placeholder="image"
      type="text" />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="location"
        type="text"
      />
      <br /><br />
      <input
        name="listing[country]"
        placeholder="country"
        type="text"
      />
      <br /><br />
      <button>Add your profile</button>
    </form>
</body>
</html>