<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <h1>Enter Your developer Profile</h1>
    <form method="post" action="/first">
      <div class="mb-3">
        <label for="name" class="form-label"> Enter title</label>
        <input name="listing[name]" placeholder="name" name" type="text"
        class="form-control" />
      </div>
      <div class="mb-3">
        <label for="role" class="form-label"> Enter your Role</label>
        <input
          name="listing[role]"
          placeholder="role"
          type="text"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label"> write your info</label>
        <input
          name="listing[description]"
          placeholder="description"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"> Image Link</label>
        <input
          name="listing[image]"
          placeholder="enter image URl/link"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">
          Enter Your prefered Location</label
        >
        <input
          name="listing[location]"
          placeholder="location"
          type="text"
          class="form-control"
        />
      </div>

      <div class="mb-3">
        <label for="country" class="form-label"> Enter Your country</label>
        <input
          name="listing[country]"
          placeholder="country"
          type="text"
          class="form-control"
        />
      </div>

      <button class="btn btn-dark add-btn">Add your profile</button>
    </form>
  </div>
</div>
