<% layout("/layouts/boilerplate.ejs") %>
<body>
     <h1>Enter Your developer Profile</h1>
    <form method="post" action="/two">
      <input name="listing[name]" placeholder="name" name" type="text"
      />
      <br /><br />
      <input name="listing[role]" placeholder="role"  type="text" />
      <br /><br />
      <input
        name="listing[description]"
        placeholder="description"
        type="text"
      />
      <br /><br />
      <input name="listing[image]" 
      placeholder="image"
      type="text" />
      <br /><br />
      <input
        name="listing[location]"
        placeholder="location"
        type="text"
      />
      <br /><br />
      <input
        name="listing[stipend]"
        placeholder="stipend"
        type="text"
      />
      <br /><br />
      <button>Add your Job profile</button>
    </form>
</body>
